body 
{
    margin: 0;
    padding: 0;
    font-size: 18px
}

.flex-container
{
    display: flex;
}
    .flex-container.center{justify-content: center;}
    .flex-item
    {
        width: 100px;
        height: 100px;
        margin: 10px;
        text-align: center;
        background-color: gray;
    }

.inline-flex-container
{
    display: inline-flex;
}
    .inline-flex-container.center
    {
        justify-content: center;
        align-items: center;
    }
    .inline-flex-item
    {
        width: 50px;
        height: 50px;
        margin: 4px;
        text-align: center;

        background-color: gray;
    }

.header
{
    font-size: 2rem;
    text-align: center;
    color: #0099ff;
    margin-bottom: 20px;
}

p
{
    font-size: 1rem;
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
}